@media screen and (max-width:1024px){
 .hideOnMobile, .demo{
    display: none;
 }

.logo img{
    padding-left: 0;
    width:100px ;
}

.menu_button{
    padding: 5px;
    display:block ;
    /* transition: 4.2s; */
}

.menu_button img{
    display:block;
    
   
}

main .mainimg img{
    width: 100%;
}

main .main-gallery{
     grid-template-columns: 200px 200px 200px ;
}

.info2 .primg{
    display: flex;
    padding: 0px;
    gap: 80px;
    justify-content: center;
    text-align: center;
}

.manimg img{
    width: 300px;
}





}







@media screen and (max-width:600px){
    main .main-gallery{
       grid-template-columns: 200px 200px ;
    } 
    
    
    
    main .info .quality{
        display:grid;
    }
    
    
    .info2 .primg{
        display: grid;
    }

    






}

