*{
    padding: 0;
    margin: 0;
}
body{
    font:15px/1.5 Arial, Helve tica, san serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    /* min-height: 100vh; */
    box-sizing: border-box;
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    padding: 30px 0px;
    text-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}



header nav li{
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    
}


header nav ul a{
    color: green;
    text-decoration: none;

}

header nav ul a:hover{
    color: white;
    background-color: green;
    border-radius: 6px;
    padding: 5px;
    
}




header nav .select{
    display: flex;
    gap: 30px;
    
}

header nav .select select{
    text-transform: capitalize;
    border: none;
    
}


header nav .demo a{
    gap: 5px;
    text-transform: capitalize;
    align-items: center;
    background-color: green;
    padding: 5px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
}

.menu_button{
    padding: 5px;
    display:none ;
}

.menu_button img{
    display:none;
    
}

.sidebar{
   position: fixed; 
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   background-color: rgba(255, 255, 255, 0);
   backdrop-filter: blur(10px);
   box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
   display:none ;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
   
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.sidebar .select{
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
    background-color: white;
    padding: 30px 0px;
    text-align: center;
    align-items: center;
    margin-bottom: 5px; 
}

.main-intro{
    padding: 20px;
}


.main-intro h1{
    text-transform: capitalize;
}

.main-intro p{
    padding:0px 0px;
}


.mainbutton{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px 40px;
}



.mainbutton .maindemo a{
    gap: 5px;
    text-transform: capitalize;
    align-items: center;
    background-color: green;
    padding: 5px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    
}


.mainsign a{
    gap: 5px;
    text-transform: capitalize;
    align-items: center;
    border:2px solid green;
    padding: 5px;
    color: green;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
}

.main-intro2{
    padding: 20px 20px 40px;
}


.main-intro2 h2{
    text-transform: capitalize;
}

.main-intro2 p{
    padding:0px 0px;
}


main .main-gallery{
    align-items: center;
    justify-content: center;
    display: grid;
    padding:30px ;
    grid-template-columns: 200px 200px 200px 200px;
}

main .main-gallery img{
     width: 180px;
     padding: 10px;
}

main .info{
    background-color: black;
    color: white;
    padding: 50px 20px;
    
}




main .info .quality{
    display:flex;
    padding: 50px ;
    gap: 40px;
    
}


 .secure, .reliable, .dedicated{
    text-align: justify;

}


main .info2{
    padding: 50px;
    
}

.info2 h3{
    text-transform: capitalize;
}

.info2 .accurate{
    padding: 50px 0px;
}

/* .info2 .accurate p{
    padding-left: 0 0
} */







.info2 .primg{
    display: flex;
    padding: 60px;
    gap: 80px;
    justify-content: center;
    text-align: center;
}



.info2 .pvf{
    display:grid;
    text-align: justify;
    align-items: center;
    justify-content: center;

}

.lastdemo{
    align-items: center;
    padding: 30px ;
    
    
}

.lastdemo a{
    gap: 5px;
    text-transform: capitalize;
    align-items: center;
     text-align: center;
    justify-content: center;
    background-color: green;
    padding: 5px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    width:fit-content;
    margin: auto;
    

    
}  
    



.manimg img{
    width: 400px;
}